<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <div class="row m-t-30">
          <div class="col-md-8">
              <div class="row">
                  <div class="col-lg-10">
                      <h3 class="col-md-5">Product Data</h3>
                      <br><br>
                      <!-- DATA TABLE-->
                      <div class="table-data__tool">
                          <div class="table-data__tool-left">
                              <div class="rs-select2--light rs-select2--md">
                                    <select class="type_food_product_admin_select" name="property">
                                      <option selected="selected" value="all">Food & Drink</option>
                                      <option value="food">Food</option>
                                      <option value="drink">Drink</option>
                                    </select>
                                  <div class="dropDownSelect2"></div>
                              </div>
                          </div>
                          <div class="table-data__tool-left">
                              <div class="rs-select2--light rs-select2--md">
                                  <select class="type_category_admin_admin_select"
                                     name="property">
                                      <% @category_data .each do |category| %>
                                          <option value=<%= category.name %>><%= category.name %></option>
                                      <% end %>
                                  </select>
                                  <div class="dropDownSelect2"></div>
                              </div>
                          </div>
                          <div class="table-data__tool-right">
                             <button class="au-btn au-btn-icon au-btn--green au-btn--small"
                                data-toggle="modal" data-target="#modal_create_product_row">
                              <i class="zmdi zmdi-plus"></i>add item</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="table-responsive m-b-40">
                  <table class="table table-borderless table-data3">
                      <thead>
                          <tr>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Status</th>
                              <th>price</th>
                              <th>Inventory</th>
                              <th>Active status</th>
                              <th>Active Change</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody class="render_row_product_ajax">
                        <% @product_data.each do |products| %>
                          <%= render_product_row products %>
                        <% end %>
                      </tbody>
                  </table>
              </div>
              <!-- END DATA TABLE-->
          </div>
        </div>
      <%= will_paginate @product_data, renderer: BootstrapPagination::Rails %>
     </div>
    </div>
  </div>
</div>
<%= render partial: "modal_create_product" %>
