<div class="checkout checkout-cart-ajax">
  <div class="container">
    <h3>
      <%= raw(t("layouts.order.contain",product: current_user.orders.count)) %>
    </h3>
    <div class="checkout-right">
      <table class="timetable_sub">
        <thead>
          <tr>
            <th><%= t("layouts.order.table.id") %></th>
            <th><%= t("layouts.order.table.name") %></th>
            <th><%= t("layouts.order.table.phone") %></th>
            <th><%= t("layouts.order.table.address") %></th>
            <th><%= t("layouts.order.table.day") %></th>
          </tr>
        </thead>
        <% current_user.orders.all.each do |item| %>
          <%= render partial: "list", locals: {order: item} %>
        <% end %>
        </div>
      </table>
    </div>
    <div class="checkout-left">
      <div class="checkout-right-basket">
        <%= link_to product_index_path do %>
          <span class="fa fa-shopping-cart" aria-hidden="true">
          </span>
          <%= t("layouts.cart.checkout.continue") %>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
