<div class="single">
  <div class="container">
    <div class="col-md-4 single-left">
      <div class="flexslider">
        <ul class="slides">
          <% product.food_images.each do |image| %>
            <li data-thumb=<%= image.picture.url %>>
              <div class="thumb-image">
                 <%= image_tag(image.picture.url, class: "image-responsive", data: {imagezoom: true}) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- flixslider -->
      <%= javascript_include_tag("jquery.flexslider.js") %>

      <!-- //zooming-effect -->
      <%= javascript_include_tag("imagezoom.js") %>
    </div>
    <div class="col-md-7 col-md-offset-1 single-right">
      <h3><%= product.name %></h3>
        <div class="description">
          <h5><i><%= t("layouts.product.single.description") %></i></h5>
          <p><%= product.description %></p>
        </div>
        <div class="color-quality">
          <div class="color-quality-left">
            <h5><%= t("layouts.product.single.size.title") %></h5>
            <ul>
              <li><a href="#"><span></span>
                <%= t("layouts.product.single.size.medium") %>
              </a></li>
              <li><a href="#" class="brown"><span></span>
                <%= t("layouts.product.single.size.large") %>
              </a></li>
              <li><a href="#" class="purple"><span></span>
                <%= t("layouts.product.single.size.xlarge") %>
              </a></li>
            </ul>
          </div>
          <div class="color-quality-right">
            <h5><%= t("layouts.product.single.quantity") %></h5>
             <div class="quantity">
              <div class="quantity-select">
                <div class="entry value-minus1">&nbsp;</div>
                <div class="entry value1 entry_value"><span>1</span></div>
                <div class="entry value-plus1 active">&nbsp;</div>
              </div>
            </div>
            <!--quantity-->
            <%= javascript_include_tag("quanity.single-product.js") %>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="simpleCart_shelfItem">
            <p><i class="item_price">
              <%= t("layouts.product.related.record.priceunit", price: product.price) %>
              </i></p>
            <p><a class="item_add_with_quantity" id="<%= product.id %>">
              <%= t("layouts.product.related.record.addcart") %>
            </a></p>
        </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <%= render partial: "addinginfo", locals: {product: product} %>
</div>
<%= javascript_include_tag("addcart.js") %>
