 <div class="new-products">
    <div class="container">
      <h3><%= t("layouts.home.newProduct.title") %></h3>
      <div class="agileinfo_new_products_grids">
        <div class="col-md-3 agileinfo_new_products_grid">
          <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
            <div class="hs-wrapper hs-wrapper1">
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("28.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("29.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("30.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("28.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("29.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("30.jpg", alt: " ", class: "img-responsive" ) %>
              <div class="w3_hs_bottom w3_hs_bottom_sub">
                <ul>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#myModal6">
                      <span class="glyphicon glyphicon-eye-open"
                        aria-hidden="true">
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <h5><a href="single.html">Chicken</a></h5>
            <div class="simpleCart_shelfItem">
              <p><span>$320</span> <i class="item_price">$250</i></p>
              <p><a class="item_add" href="#">Add to cart</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 agileinfo_new_products_grid">
          <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
            <div class="hs-wrapper hs-wrapper1">
              <%= image_tag("31.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("32.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("33.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("34.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("31.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("32.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("33.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("34.jpg", alt: " ", class: "img-responsive" ) %>
              <div class="w3_hs_bottom w3_hs_bottom_sub">
                <ul>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#myModal5">
                      <span class="glyphicon glyphicon-eye-open"
                        aria-hidden="true">
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <h5><a href="single.html">Hamburger</a></h5>
            <div class="simpleCart_shelfItem">
              <p><span>$320</span> <i class="item_price">$250</i></p>
              <p><a class="item_add" href="#">Add to cart</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 agileinfo_new_products_grid">
          <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
            <div class="hs-wrapper hs-wrapper1">
              <%= image_tag("37.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <div class="w3_hs_bottom w3_hs_bottom_sub">
                <ul>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#myModal6">
                      <span class="glyphicon glyphicon-eye-open"
                        aria-hidden="true"></span>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
            <h5><a href="single.html">Milk Tea</a></h5>
            <div class="simpleCart_shelfItem">
              <p><span>$320</span> <i class="item_price">$250</i></p>
              <p><a class="item_add" href="#">Add to cart</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 agileinfo_new_products_grid">
          <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
            <div class="hs-wrapper hs-wrapper1">
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <%= image_tag("27.jpg", alt: " ", class: "img-responsive" ) %>
              <div class="w3_hs_bottom w3_hs_bottom_sub">
                <ul>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#myModal1">
                      <span class="glyphicon glyphicon-eye-open"
                        aria-hidden="true"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <h5><a href="single.html">Coffee</a></h5>
            <div class="simpleCart_shelfItem">
              <p><span>$320</span> <i class="item_price">$250</i></p>
              <p><a class="item_add" href="#">Add to cart</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
