<div class="top-brands">
    <div class="container">
      <h3><%= t("layouts.home.topBrand.title") %></h3>
      <div class="sliderfig">
        <ul id="flexiselDemo1">
          <li>
            <%= image_tag("top_brand/4.png", alt: " ", class: "img-responsive" ) %>
          </li>
          <li>
            <%= image_tag("top_brand/5.png", alt: " ", class: "img-responsive" ) %>
          </li>
          <li>
            <%= image_tag("top_brand/6.png", alt: " ", class: "img-responsive" ) %>
          </li>
          <li>
            <%= image_tag("top_brand/7.png", alt: " ", class: "img-responsive" ) %>
          </li>
          <li>
            <%= image_tag("top_brand/46.jpg", alt: " ", class: "img-responsive" ) %>
          </li>
        </ul>
      </div>
      <%= javascript_include_tag("jquery.flexisel.js") %>
    </div>
  </div>
