<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <% if logged_in? %>
          <h4 class="modal-title" id="myModalLabel">
          <%= t "layouts.user_login.welcome", name: current_user.name %></h4>
        <% else %>
        <h4 class="modal-title" id="myModalLabel">
          <%= t "layouts.user_login.title" %></h4>
        <% end %>
      </div>
      <div class="modal-body modal-body-sub">
        <div class="row">
          <div class="col-md-8 modal_body_left modal_body_left1 border_right_modal" >
            <div class="sap_tabs">
              <div class="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                  <% if logged_in? %>
                    <ul>
                      <li class="resp-tab-item" aria-controls="tab_item-0">
                        <span><%= t "layouts.user_login.show" %></span>
                      </li>
                      <li class="resp-tab-item" aria-controls="tab_item-1">
                        <span><%= t "layouts.user_login.update" %></span>
                      </li>
                      <li class="resp-tab-item" aria-controls="tab_item-2">
                        <span><%= t "layouts.user_login.logout" %></span>
                      </li>
                    </ul>
                    <!-- Showing_up Form -->
                    <br>
                    <%= render "layouts/user_login/showing_form" %>

                    <!-- Updating Form -->
                    <%= render "layouts/user_login/updating_form" %>

                    <!-- logout Form -->
                    <%= render "layouts/user_login/logout_form" %>
                  <% else %>
                    <ul>
                      <li class="resp-tab-item" aria-controls="tab_item-0">
                        <span><%= t "layouts.user_login.signin" %></span>
                      </li>
                      <li class="resp-tab-item" aria-controls="tab_item-1">
                        <span><%= t "layouts.user_login.signup" %></span>
                      </li>
                    </ul>
                    <!-- Sign_in Form -->
                    <%= render "layouts/user_login/signin_form" %>

                    <!-- Sign_up Form -->
                    <%= render "layouts/user_login/signup_form" %>
                  <% end %>
                <%= javascript_include_tag "easyResponsiveTabs.js" %>
              </div>
            </div>
            <div id="OR" class="hidden-xs">
              <%="OR" if current_user.nil? %></div>
          </div>
          <% if current_user.nil? %>
            <div class="col-md-2 modal_body_left modal_body_left1">
              <div class="row text-center sign-with">
                <div class="col-md-10">
                  <h3 class="other-nw">
                    Sign in with</h3>
                </div>
                <div class="col-md-10">
                  <ul class="social">
                    <li class="social_facebook">
                      <%= link_to "", "/auth/facebook",class: "entypo-facebook" %>
                    </li>
                  </ul>
                </div>
            <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
