<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
  <div class="facts">
    <div class="register">
      <div class="row">
        <% if current_user.profile_img? %>
        <div class="col-md-5">
          <div class="avatar_picture" >
            <%= image_tag current_user.profile_img.url%>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h4><b><%= t("layouts.userlogin.showingform.name") %></b>
          <span><%= current_user.name %></span></h4><br/><br/>
          <h4><b><%= t("layouts.userlogin.showingform.email") %></b>
          <span><%= current_user.email %></span></h4><br/><br/>
          <h4><b><%= t("layouts.userlogin.showingform.phone") %></b>
          <span><%= current_user.phone %></span></h4><br/><br/>
        </div>
        <% else %>
          <h4><b><%= t("layouts.userlogin.showingform.name") %></b>
          <span><%= current_user.name %></span></h4><br/><br/>
          <h4><b><%= t("layouts.userlogin.showingform.email") %></b>
          <span><%= current_user.email %></span></h4><br/><br/>
          <h4><b><%= t("layouts.userlogin.showingform.phone") %></b>
          <span><%= current_user.phone %></span></h4><br/><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>
