<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
  <div class="facts">
    <div class="register">
      <%= form_for :session, url: session_path do |f| %>
        <%= f.label :email, t("layouts.userlogin.siginform.email") %>
        <%= f.email_field :email_login, placeholder: t("layouts.userlogin.placeholder.email") %>

        <%= f.label :password, t("layouts.userlogin.siginform.pass") %>
        <%= f.password_field :password_login, placeholder: t("layouts.userlogin.placeholder.pass") %>

        <div class="remember roundedTwo">
          <%= f.label :remember, t("layouts.userlogin.siginform.remember") %>
          <%= f.check_box :remember %>
        </div>
        <div class="sign-up">
          <%= f.submit t("layouts.userlogin.siginform.submit") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
