 <div class="footer">
    <div class="container">
      <div class="w3_footer_grids">
        <div class="col-md-3 w3_footer_grid">
          <h3><%= t("layouts.footer.contact.title") %></h3>
          <p><%= t("layouts.footer.contact.sub") %></p>
          <ul class="address">
            <li><i class="fa fa-building-o"
              aria-hidden="true"></i>F Home
              <span>Da Nang City.</span>
            </li>
            <li><i class="fa fa-envelope"
              aria-hidden="true"></i>
              <a href="mailto:info@example.com">huynguyennbk@gmail.com</a>
            </li>
            <li><i class="fa fa-phone"
              aria-hidden="true"></i>0935722714
            </li>
          </ul>
        </div>
    <div class="footer-copy">
      <div class="footer-copy1">
        <div class="footer-copy-pos">
          <a href="#home1" class="scroll">
            <%= image_tag("footer/arrow.png",alt: " ", class: "img-responsive") %>
          </a>
        </div>
      </div>
      <div class="container">
        <p><%= t("layouts.footer.copy.title") %>
          <a href="http://w3layouts.com/">
            <%= t("layouts.footer.copy.author") %>
          </a>
        </p>
      </div>
    </div>
  </div>
